extends main_layout
block content
    ul.nav.nav-pills
        li
            a(href='/') Главная страница
        li
            a(href='/articles') Статьи и заметки(вместо блога)
        li
            a(href='/dreams') Сновидения
        li
            a(href='/about') Обо мне
        li
            a(href='/cv') Резюме
        li
            a(href='/rss.xml') RSS
    .col-md-8.col-md-offset-1
        h3 Здесь ничего нет
        p Попробуйте воспользоваться картой сайта сверху.
