doctype 5
html
    head
        meta(charset='utf8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= caption
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', lazyload)
        link(href='/stylesheets/style.css', rel='stylesheet', lazyload)
        link(rel="yandex-tableau-widget" href="/javascripts/manifest.json")
        link(rel="icon", type="image/png", href="/images/favicon.png")
    body
        block content
        script(src='/javascripts/jquery.js', async)
        script(src='/javascripts/bootstrap.min.js', async)
        br
        .center-block
            include metrika
        .center-block
            a(href="http://nodejs.org")
                img(src="http://wasteland.it-the-drote.tk/tmp/workouts/powered_by_node.png")
        .center-block
            a(href="http://ipv6-test.com/validate.php?url=referer")
                img(src="http://ipv6-test.com/button-ipv6-80x15.png", alt="ipv6 ready", title="ipv6 ready", border="0")
        .center-block
            a(href="http://it-the-drote.tk/article/disclaimer") Отказ от ответственности
