doctype 5
html
    head
        meta(charset='utf8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= caption
        link(rel="yandex-tableau-widget" href="/javascripts/manifest.json")
        link(rel="icon", type="image/png", href="/images/favicon.png")
    body
        .container
            block content
        footer.footer
            .col-md-6.col-md-offset-2
                .container
                    .row
                        .col-md-4
                            include metrika
                        .col-md-4
                            a(href="http://nodejs.org")
                                img(src="images/powered_by_node.png")
                        .col-md-4
                            a(href="http://ipv6-test.com/validate.php?url=referer")
                                img(src="http://ipv6-test.com/button-ipv6-80x15.png", alt="ipv6 ready", title="ipv6 ready", border="0")
                        .col-md-4
                            a(href="http://it-the-drote.tk/article/disclaimer") Отказ от ответственности
        script(src='/javascripts/jquery.js', async)
        script(src='/javascripts/bootstrap3.min.js', async)

link(href='/stylesheets/bootstrap3.min.css', rel='stylesheet', lazyload)
link(href='/stylesheets/bootstrap3-solarized.css', rel='stylesheet', lazyload)
link(href='/stylesheets/style.css', rel='stylesheet', lazyload)
