#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

override_dh_auto_configure:
	echo "{ \"version\": \"`dpkg-parsechangelog -S Version`\" }" > src/it-the-drote/public/version.json
	dh_auto_configure

%:
	dh $@ 
