doctype html
html
    head
        meta(charset="utf8")
    body
        img(src="500.jpg")
        h1 Сайт не работает
        p
            | Если вы увидели этого рассерженного котика раньше меня - напишите мне в 
            a(href='https://telegram.me/schmerzundtod') Telegram
            | .
        p
            | Если вам не нравится этот рассерженный котик - посмотрите на более смешных котиков на 
            a(href='https://www.youtube.com/results?search_query=funny+cats') Youtube
            | , пока я чиню этот сайт.
